.card_container {
    width: 360px;
    height: 500px;
    margin: 30px 20px;
    display: inline-block;
    background: $w;
}
.card_container__head {
    height: 80%;

    margin-bottom: 20px;
    border-radius: 50px;
    position: relative;
    background: rgb(255, 255, 255);
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card_container__head:hover {
    background: rgb(112, 112, 112);
}
.card_container:hover .card_container__head_box {
    opacity: 1;
}
.card_container:hover .card_container__foot {
    color: $w;
    background: $b;
}
.card_container__head_size {
    width: 140px;
    height: 40px;
    border-radius: 50px 0 50px 0;
    color: $w;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: $b;
}
.card_container__head_box {
    padding: 15px 40px;
    border-radius: 50px;
    @include posAbs();
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;

    background: white;
    opacity: 0;
    color: #111113;
    font-weight: 300;
    font-weight: initial;
    opacity: 0;
}
.card_container__foot {
    height: calc(20% - 20px);
    border-radius: 100px;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card_img {
    margin: 10px 0;
    width: 70%;
}
