@font-face {
    font-family: "Raleway";
    src: url("../../../font/Raleway-VariableFont_wght.ttf");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
}
html,
body {
    scrollbar-width: none;
}
body {
    font-family: "Futura", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    background: #111111;
}
.body_bg {
    background-image: url("../../../img//bg2.jpg");
    background-size: cover;
}

body::-webkit-scrollbar {
    width: 0;
    height: 0;
}
