.pocet {
    .pocet-two {
        height: 100%;
        width: 100%;
        background: rgba(72, 72, 80, 0.5);
        opacity: 0;
        display: none;
        position: absolute;
        z-index: 1;
    }
    .pocet-one {
        overflow-y: scroll;
        background: white;
        height: 100%;
        width: 300px;
        position: absolute;
        right: -300%;
        top: 0;
        z-index: 1001;

        position: fixed;
        height: 100%;
        // width: 100%;

        top: 0;
        z-index: 100;
    }
}
.pocet-one {
    scrollbar-width: none;
}
.pocet-one {
    font-family: "Futura", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}
.pocet-one::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.pocet_head {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-bottom: 1px solid #111113;
    padding: 30px;
    div:nth-child(1) {
        width: 15px;
        height: 15px;
        border-left: 2px solid #111113;
        border-bottom: 2px solid #111113;
        transform: rotate(45deg);
        margin-right: 25px;
    }
}
.pocet_body {
    border-bottom: 2px solid #111113;
    .pocet_body_title {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;

        h2 {
            margin-right: 10px;
            font-size: 21px;
            display: flex;
            align-items: center;
        }
        h2::after {
            content: "";
            width: 100px;
            height: 1px;
            background: $b;
            display: inline-block;
            margin-left: 10px;
        }
    }

    .pocet_container {
        & > div:nth-child(1) {
            padding: 10px;
            display: flex;
            .pocet_container_r {
                padding: 10px 0;
                div {
                    display: flex;
                    flex-wrap: wrap;
                }
                & > div:nth-child(2) {
                    & > div:first-child {
                        font-size: 80%;
                        width: 100%;
                    }
                }
                & > div:nth-child(3) {
                    & > div:first-child {
                        font-size: 80%;
                        width: 100%;
                    }
                }
                & > div:nth-child(4) {
                    float: right;
                }
            }
        }
        & > div:nth-child(2) {
            border-bottom: 1px solid #111113;

            margin: 15px;

            margin-top: 5px;
        }
    }
}
.pocet_button_block {
    position: relative;
    padding: 20px;
    .block_cod {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;

        span {
            position: absolute;
            top: 0%;
            left: 14%;
        }
        input {
            width: 80%;
        }
        button {
            position: absolute;
            right: 11%;
        }
    }

    .block_line {
        height: 2px;
        background: $b;
        margin-bottom: 10px;
    }
    .block_size {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    .block_button {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        padding: 10px 30px;
        background: #111113;
        color: white;
        padding: 10px 30px;
        border-radius: 20px;
    }
}
.pocet_container_img {
    padding: 5px 10px;
    border: 1px solid #d4d3d3;
    border-radius: 20px;
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pocetCat {
    .pocet-one {
        .pocet_body {
            .cat__section_2_li > .li {
                font-size: 120%;
                padding: 10px;
                border: 1px solid #bbb6b694;
            }
        }
    }
}
.r {
    margin: 0;
}
.r::before {
    content: "|";
    color: rgb(128, 128, 128);
}
.r::after {
    content: "|";
    color: rgb(128, 128, 128);
}
.pocet_container_r_size {
    & > div:nth-child(2) {
        div {
            margin: 0 2px;
        }
    }
}
.pocet_container_r_quantity {
    & > div:nth-child(2) {
        & > div:nth-child(1) {
            width: 20px;
        }
        & > div:nth-child(3) {
            margin: 0 2px;
            font-size: 120%;
        }
        & > div:nth-child(4) {
            margin: 0 2px;
            font-size: 120%;
        }
    }
}
.pocet_container {
    & > div:nth-child(3) {
        border-bottom: 1px solid #111113;
        margin: 10px 0;
    }
}
.pocet_container_r_del {
    position: absolute;
    border: 1px solid;
    border-radius: 20px;
    padding: 1px;
    width: 10px;
    height: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    background: white;
}
.block_cod {
    input {
        border-radius: 20px;
        border: 1px solid;
        padding: 5px 10px;
    }
    button {
        border-radius: 20px;
        border: none;
        padding: 6px 10px;
        background: #111113;
        color: white;
    }
}
